link(
	href="http://assets.protosite.rocks/core/select-field.css"
	rel="stylesheet"
	type="text/css"
)
style(type="text/css").
	:host(:state(--defined)) {
		content-visibility: hidden;
	}
	:host(:state(--loaded)) {
		content-visibility: visible;
	}
div(
	aria-controls="listbox"
	id="button"
	role="button"
	tabindex="0"
)
	div(
		aria-placeholder="Выбрать..."
		part="selectedcontent"
		id="status"
		role="status"
	)
e-listbox(
	aria-labelledby="button",
	id="listbox",
	part="listbox"
	tabindex="1"
)
	slot