link(
	href="http://assets.protosite.rocks/core/select-field.css"
	rel="stylesheet"
	type="text/css"
)
style(type="text/css").
	:host(:defined) {
		content-visibility: hidden;
	}
	:host(:state(loaded)) {
		content-visibility: visible;
	}
div(
	aria-controls="listbox_popover"
	id="button"
	role="button"
	tabindex="0"
)
	div(
		part="selectedcontent"
		role="status"
	)
div(
	aria-labelledby="button",
	id="listbox_popover",
	role="listbox",
	part="listbox"
	tabindex="1"
)
	slot