html:template(id="tpl-select-field")
	link(
		href="http://assets.protosite.rocks/core/select-field.css"
		rel="stylesheet"
		type="text/css"
	)
	div(
		aria-activedescendant="selected_option"
		aria-controls="popup_listbox"
		id="button"
		part="button"
		role="button"
	)
		div(
			id="choice"
			part="choice"
			role="status"
		)
	slot(name="listbox")
		div(
				aria-labelledby="button",
				id="popup_listbox",
				role="listbox",
				part="listbox"
			)
			slot